<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net462" />
  <package id="DSharpPlus" version="3.2.3" targetFramework="net462" />
  <package id="DSharpPlus.CommandsNext" version="3.2.3" targetFramework="net462" />
  <package id="DSharpPlus.Interactivity" version="3.2.3" targetFramework="net462" />
  <package id="DSharpPlus.WebSocket.WebSocketSharp" version="3.2.3" targetFramework="net462" />
  <package id="LibGit2Sharp" version="0.26.1" targetFramework="net462" />
  <package id="LibGit2Sharp.NativeBinaries" version="2.0.289" targetFramework="net462" />
  <package id="MailKit" version="2.3.1.6" targetFramework="net462" />
  <package id="MimeKit" version="2.3.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
  <package id="RestSharp" version="106.6.10" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WebSocketSharp-NonPreRelease" version="1.0.0" targetFramework="net462" />
</packages>